body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff8f0;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 60px;
  color: #8b4b1f;
}

/** Aqui va el css de Nabvar*/
.navbar {
  background: #8b4b1f;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

/** Aqui va el css del catalogo con cards*/
.container {
  padding: 40px;
  text-align: center;
}

.btn {
  background: #c97a40;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
